html {
  height: 100%;
}
// Body Border start
body:before, body:after {
  content: "";
  position: fixed;
  background: $white;
  left: 0;
  right: 0;
  height: 9px;
}

body:before {
  top: 0;
}

body:after {
  bottom: 0;
}
// Body Border end

body {
  background-color: $ltgrey;
  //border-top: 9px solid $white;
  font-family: $default_font_family;
  border-left: 9px solid $white;
  border-right: 9px solid $white;
}

h1 {
  font-family: $title_font;
  font-size: 30px;
}

#title h1 {
  text-align: center;
}

#cycle {
  margin: 0 auto;
  display: block;
}

#dots {
  margin: 0 auto;
  display: block;
}

/*------ NEWSPAPER STYLE COLUMNS ------*/
.multicol {
@include columns(3, $dkgrey);
}
