body {
background-color: $ltgrey;
border-top: 9px solid $white;
font-family: $default_font_family;
}

h1, h2 {
font-family: $title_font;
}

#cycle {
margin: 0 auto;
display: block;
}

/*------ NEWSPAPER STYLE COLUMNS ------*/
.multicol {
@include columns(3, $dkgrey);
}
