/* ---- SCSS FOR COLORS ---- */
$dkgrey: #212121;
$ltgrey: #d9d9d3;
$white: #ffffff;

$text-color: $dkgrey;
$bkgd-color: $ltgrey;

/* ---- SCSS FOR FONT FAMILY ---- */
$default_font_family: 'Cormorant Garamond Regular', sans-serif;
$regular: 400;
$bold: 700;

$title_font: 'Playfair Display SC Regular', sans-serif;
